.cards-div {
    display: flex;
}

.card {
    display: flex;
    width: 200px;
    height: 200px;
    border-style: solid;
}

.delete-button {
    width: 60px;
    height: 40px;
    border-style: solid;
}