:root {
    --display: none;
}

html {
    font-size: 62.5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 10rem;
    background-color: rgb(11, 197, 253);
    box-shadow: 0rem 1rem 0.7rem  rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
}

#add-book {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(192, 192, 192);
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
}

#add-book:hover {
    transform: scale(1.1);
}

form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    height: 8rem;
    width: 100%;
    background-color: rgb(11, 197, 253);
    border-radius: 1rem 1rem 0rem 0rem;
    margin-top: 0px;
}

#book-form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    border-radius: 10px;
    background-color: rgb(145, 226, 250);
    position: absolute;
    top: 30%;
    display: var(--display);
    box-shadow: 1rem 1rem 1.4rem 0.1rem rgb(0 0 0 / 20%);
    z-index: 1;
}

.overlay {
    width: 100%;
    background-color: black;
    filter: opacity(30%);
    position: absolute;
    top: 0;
    bottom: 0;
    display: var(--display);
}

.input-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 80%;
    height: 3rem;
    border-radius: 0.5rem;
    border-style: none;
    padding: .5rem
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.submit-cancel-div {
    display: flex;
    height: 8rem;
    margin-top: 2.6rem;
}

.submit {
    background-color: rgb(11, 197, 253);
    border-style: none;
    width: 50%;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 0rem 0rem 1rem 0rem;
    font-weight: bold;
    color: white;
}

.cancel {
    background-color: rgb(11, 197, 253);
    border-style: none;
    width: 50%;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 0rem 0rem 0rem 1rem;
    font-weight: bold;
    color: white;
    
}

.submit:hover {
    background-color: rgb(10, 177, 228);
}

.cancel:hover {
    background-color: rgb(10, 177, 228);
}

.cards-div {
    display: grid;
    grid-template-columns: repeat(3, 34rem);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    min-height: 8rem;
    background-color: rgb(11, 197, 253);
    border-radius: 1rem 1rem 0rem 0rem;
    margin-top: 0rem;
    color: white;
    margin-top: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    max-height: 33rem;
    border-radius: 1rem;
    background-color: rgb(145, 226, 250);
    margin: 1rem;
}

.book-info {
    height: 5rem;
    width: 90%;
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
}

.read-btn {
    height: 4rem;
    width: 15rem;
    border-style: none;
    border-radius: 5%;
    background-color: rgb(192, 192, 192);
    margin-bottom: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.read-btn:hover {
    background-color: rgb(209, 209, 209);
}

.card:hover{
    box-shadow: 1rem 1rem 1.4rem 0.1rem rgb(0 0 0 / 20%);
    transform: scale(1.02);
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 197, 253);
    border-style: none;
    width: 100%;
    height: 8rem;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 0rem 0rem 1rem 1rem;
    font-weight: bold;
    color: white;
}

.delete-button:hover {
    background-color: rgba(253, 74, 74, 0.89);
}