:root {
    --display: none;
}

#add-book {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(192, 192, 192);
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#add-book:hover {
    transform: scale(1.1);
}

form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    height: 80px;
    width: 300px;
    background-color: rgb(11, 197, 253);
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px;
}

#book-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(145, 226, 250);
    position: absolute;
    top: 60px;
    left: 350px;
    display: var(--display);
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}

.input-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 197, 253);
    border-style: none;
    width: 300px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    color: white;
    margin-top: 45px;
}

.submit:hover {
    background-color: rgb(10, 177, 228);
}

.cards-div {
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    width: 300px;
    background-color: rgb(11, 197, 253);
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    background-color: rgb(145, 226, 250);
    margin: 10px;
}

.book-info {
    height: 50px;
    width: 90%;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.card:hover{
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    transform: scale(1.02);
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 197, 253);
    border-style: none;
    width: 300px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    color: white;
}

.delete-button:hover {
    background-color: red;
}